<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.3239.1723" targetFramework="net461" />
  <package id="cef.redist.x86" version="3.3239.1723" targetFramework="net461" />
  <package id="CefSharp.Common" version="117.2.20" targetFramework="net461" />
  <package id="CefSharp.Wpf" version="63.0.1" targetFramework="net461" />
  <package id="Dragablz" version="0.0.3.193" targetFramework="net461" />
  <package id="MaterialDesignColors" version="1.1.2" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="2.3.1.953" targetFramework="net461" />
  <package id="PdfiumViewer" version="2.12.0.0" targetFramework="net461" />
</packages>